@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/static/Inter-Bold.ttf");
    font-weight: 700;
}


@layer base{
    html, body {
        font-family: "Inter", system-ui, sans-serif;
        font-size: 16px;
    }
}